*{
    box-sizing: border-box;
    font-family: monospace;
}

.flex{
    display: flex;
}

.vertical{
    flex-direction: column;
}

:root{
    --primary-color: #27187E;
    --primary-color-contrast: #E6E6FF;
    --primary-color-contrast-hover: #BDBDFF;
    --secondary-color: #758BFD;
    --secondary-color-contrast: #E6EFFF;
    --secondary-color-contrast-hover: #BDBDFF;
    --text-color: #464341;
    --text-color-contrast: #FFFFFF;
    --text-color-contrast-hover: #BDBDBD;
    --danger-color: #FF5C58;
    --danger-color-contrast: #FFD6D4;
    --danger-color-contrast-hover: #FFBDBB;
    --warning-color: #FFC145;
    --warning-color-contrast: #FFF2D6;
    --warning-color-contrast-hover: #FFDDBD;
    --success-color: #00C48C;
    --success-color-contrast: #D6FFF2;
    --success-color-contrast-hover: #BDFFE0;
    --global-border-radius: 8px;
}

/* Buttons */

button{
    --button-text-color: var(--text-color);
    --button-border-color: var(--text-color);
    --button-background-color: var(--text-color-contrast);
    --button-text-color-hover: var(--text-color);
    --button-background-color-hover: var(--text-color-contrast-hover);
    --button-text-color-active: var(--text-color-contrast);
    --button-border-color-active: var(--text-color-contrast);
    --button-background-color-active: var(--text-color);

    border: 1px solid var(--button-border-color);
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    border-radius: var(--global-border-radius);
    padding: 4px 8px;
    margin: 5px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

button:hover{
    color: var(--button-text-color-hover);
    background-color: var(--button-background-color-hover);
}

button:active{
    background-color: var(--button-background-color-active);
    color: var(--button-text-color-active);
    border-color: var(--button-border-color-active);
}

.button-primary{
    --button-text-color: var(--primary-color-contrast);
    --button-border-color: var(--primary-color-contrast);
    --button-background-color: var(--primary-color);
    --button-text-color-hover: var(--text-color);
    --button-background-color-hover: var(--primary-color-contrast-hover);
    --button-text-color-active: var(--text-color);
    --button-border-color-active: var(--text-color);
    --button-background-color-active: var(--primary-color-contrast);
}

.button-primary-outline{
    --button-text-color: var(--text-color);
    --button-border-color: var(--text-color);
    --button-background-color: var(--primary-color-contrast);
    --button-text-color-hover: var(--text-color);
    --button-background-color-hover: var(--primary-color-contrast-hover);
    --button-text-color-active: var(--primary-color-contrast);
    --button-border-color-active: var(--primary-color-contrast);
    --button-background-color-active: var(--primary-color);
}

.button-secondary{
    --button-text-color: var(--secondary-color-contrast);
    --button-border-color: var(--secondary-color-contrast);
    --button-background-color: var(--secondary-color);
    --button-text-color-hover: var(--text-color);
    --button-background-color-hover: var(--secondary-color-contrast-hover);
    --button-text-color-active: var(--text-color);
    --button-border-color-active: var(--text-color);
    --button-background-color-active: var(--secondary-color-contrast);
}

.button-secondary-outline{
    --button-text-color: var(--text-color);
    --button-border-color: var(--text-color);
    --button-background-color: var(--secondary-color-contrast);
    --button-text-color-hover: var(--text-color);
    --button-background-color-hover: var(--secondary-color-contrast-hover);
    --button-text-color-active: var(--secondary-color-contrast);
    --button-border-color-active: var(--secondary-color-contrast);
    --button-background-color-active: var(--secondary-color);
}

.button-danger{
    --button-text-color: var(--danger-color-contrast);
    --button-border-color: var(--danger-color-contrast);
    --button-background-color: var(--danger-color);
    --button-text-color-hover: var(--text-color);
    --button-background-color-hover: var(--danger-color-contrast-hover);
    --button-text-color-active: var(--text-color);
    --button-border-color-active: var(--text-color);
    --button-background-color-active: var(--danger-color-contrast);
}

.button-danger-outline{
    --button-text-color: var(--text-color);
    --button-border-color: var(--text-color);
    --button-background-color: var(--danger-color-contrast);
    --button-text-color-hover: var(--text-color);
    --button-background-color-hover: var(--danger-color-contrast-hover);
    --button-text-color-active: var(--danger-color-contrast);
    --button-border-color-active: var(--danger-color-contrast);
    --button-background-color-active: var(--danger-color);
}

.button-warning{
    --button-text-color: var(--warning-color-contrast);
    --button-border-color: var(--warning-color-contrast);
    --button-background-color: var(--warning-color);
    --button-text-color-hover: var(--text-color);
    --button-background-color-hover: var(--warning-color-contrast-hover);
    --button-text-color-active: var(--text-color);
    --button-border-color-active: var(--text-color);
    --button-background-color-active: var(--warning-color-contrast);
}

.button-warning-outline{
    --button-text-color: var(--text-color);
    --button-border-color: var(--text-color);
    --button-background-color: var(--warning-color-contrast);
    --button-text-color-hover: var(--text-color);
    --button-background-color-hover: var(--warning-color-contrast-hover);
    --button-text-color-active: var(--warning-color-contrast);
    --button-border-color-active: var(--warning-color-contrast);
    --button-background-color-active: var(--warning-color);
}

.button-success{
    --button-text-color: var(--success-color-contrast);
    --button-border-color: var(--success-color-contrast);
    --button-background-color: var(--success-color);
    --button-text-color-hover: var(--text-color);
    --button-background-color-hover: var(--success-color-contrast-hover);
    --button-text-color-active: var(--text-color);
    --button-border-color-active: var(--text-color);
    --button-background-color-active: var(--success-color-contrast);
}

.button-success-outline{
    --button-text-color: var(--text-color);
    --button-border-color: var(--text-color);
    --button-background-color: var(--success-color-contrast);
    --button-text-color-hover: var(--text-color);
    --button-background-color-hover: var(--success-color-contrast-hover);
    --button-text-color-active: var(--success-color-contrast);
    --button-border-color-active: var(--success-color-contrast);
    --button-background-color-active: var(--success-color);
}

.button-group{
    justify-content: center;
}

.button-group-end{
    justify-content: flex-end;
}

.button-group-start{
    justify-content: flex-start;
}

[class*="button-group"]{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}

[class*="button-group"] > button:first-of-type{
    border-radius: var(--global-border-radius) 0 0 var(--global-border-radius);
    margin-right: 0;
    border-right: 0;
}
[class*="button-group"] > button:not(:first-of-type):not(:last-of-type){
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
    border-right: 0;
}
[class*="button-group"] > button:last-of-type{
    border-radius: 0 var(--global-border-radius) var(--global-border-radius) 0;
    margin-left: 0;
}

[class*="button-group"] > button:only-of-type{
    border-radius: var(--global-border-radius);
    border: 1px solid var(--button-border-color);
}

/* Colors */

.primary-color{
    color: var(--primary-color);
}

.primary-color-contrast{
    color: var(--primary-color-contrast);
}

.primary-color-contrast-hover{
    color: var(--primary-color-contrast-hover);
}

.secondary-color{
    color: var(--secondary-color);
}

.secondary-color-contrast{
    color: var(--secondary-color-contrast);
}

.secondary-color-contrast-hover{
    color: var(--secondary-color-contrast-hover);
}

.text-color{
    color: var(--text-color);
}

.text-color-contrast{
    color: var(--text-color-contrast);
}

.text-color-contrast-hover{
    color: var(--text-color-contrast-hover);
}

.danger-color{
    color: var(--danger-color);
}

.danger-color-contrast{
    color: var(--danger-color-contrast);
}

.danger-color-contrast-hover{
    color: var(--danger-color-contrast-hover);
}

.warning-color{
    color: var(--warning-color);
}

.warning-color-contrast{
    color: var(--warning-color-contrast);
}

.warning-color-contrast-hover{
    color: var(--warning-color-contrast-hover);
}

.success-color{
    color: var(--success-color);
}

.success-color-contrast{
    color: var(--success-color-contrast);
}

.success-color-contrast-hover{
    color: var(--success-color-contrast-hover);
}

/* Table */

table {
    --table-header-color: var(--text-color-contrast);
    --table-header-background-color: var(--text-color);
    --table-border-color: var(--text-color);
    --table-body-text-color: var(--text-color);
    --table-odd-row-background-color: var(--text-color-contrast);
    --table-even-row-background-color: var(--text-color-contrast-hover);
    --table-caption-color: var(--text-color);
    width: 100%;
    border-spacing: 0;
}

.table-primary {
    --table-header-color: var(--text-color-contrast);
    --table-header-background-color: var(--primary-color);
    --table-border-color: var(--primary-color);
    --table-body-text-color: var(--text-color);
    --table-odd-row-background-color: var(--primary-color-contrast);
    --table-even-row-background-color: var(--primary-color-contrast-hover);
    --table-caption-color: var(--primary-color);
}

.table-secondary {
    --table-header-color: var(--text-color-contrast);
    --table-header-background-color: var(--secondary-color);
    --table-border-color: var(--secondary-color);
    --table-body-text-color: var(--text-color);
    --table-odd-row-background-color: var(--secondary-color-contrast);
    --table-even-row-background-color: var(--secondary-color-contrast-hover);
    --table-caption-color: var(--secondary-color);
}

.table-danger {
    --table-header-color: var(--text-color-contrast);
    --table-header-background-color: var(--danger-color);
    --table-border-color: var(--danger-color);
    --table-body-text-color: var(--text-color);
    --table-odd-row-background-color: var(--danger-color-contrast);
    --table-even-row-background-color: var(--danger-color-contrast-hover);
    --table-caption-color: var(--danger-color);
}

.table-warning {
    --table-header-color: var(--text-color-contrast);
    --table-header-background-color: var(--warning-color);
    --table-border-color: var(--warning-color);
    --table-body-text-color: var(--text-color);
    --table-odd-row-background-color: var(--warning-color-contrast);
    --table-even-row-background-color: var(--warning-color-contrast-hover);
    --table-caption-color: var(--warning-color);
}

.table-success {
    --table-header-color: var(--text-color-contrast);
    --table-header-background-color: var(--success-color);
    --table-border-color: var(--success-color);
    --table-body-text-color: var(--text-color);
    --table-odd-row-background-color: var(--success-color-contrast);
    --table-even-row-background-color: var(--success-color-contrast-hover);
    --table-caption-color: var(--success-color);
}

table > caption{
    font-size: 2em;
    font-weight: bold;
    padding: 5px;
    color: var(--table-caption-color);
}
thead > tr > th:first-of-type{
    background-color: var(--table-header-background-color);
    color: var(--table-header-color);
    border-top-left-radius: var(--global-border-radius);
}

thead > tr > th{
    background-color: var(--table-header-background-color);
    color: var(--table-header-color);
    border: 1px solid var(--table-border-color);
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
}

thead > tr > th:last-of-type{
    background-color: var(--table-header-background-color);
    color: var(--table-header-color);
    border-top-right-radius: var(--global-border-radius);
}

tbody > tr > td:first-of-type{
    border-left: 1px solid var(--table-border-color);
}

tbody > tr > td:not(:first-of-type):not(:last-of-type){
    border-left: 1px solid var(--table-border-color);
    border-right: 1px solid var(--table-border-color);
}

tbody > tr > td:last-of-type{
    border-right: 1px solid var(--table-border-color);
}

tbody > tr:last-of-type > td:first-of-type{
    border-bottom-left-radius: var(--global-border-radius);
}

tbody > tr > td{
    border-bottom: 1px solid var(--table-border-color);
    text-align: center;
    color: var(--table-body-text-color);
}
tbody > tr:last-of-type > td:last-of-type{
    border-bottom-right-radius: var(--global-border-radius);
}

tbody > tr:nth-child(even) > td{
    background-color: var(--table-even-row-background-color);
}

tbody > tr:nth-child(odd) > td{
    background-color: var(--table-odd-row-background-color);
}

/* Form */

form{
    --form-input-border-color: var(--text-color);
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 0 auto;
}

form > .input-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.input-group > label {
    order: 1;
}

.input-group > *:not(label){
    order: 2;
    border-radius: var(--global-border-radius);
    border-width: 1px;
    border-style: solid;
}

.input-group:has(*[type="checkbox"]) {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}